

#header{
	width: 310px;
	height: 205px;
	margin: 10% 35%
}
#header>img {
	width: : 300px !important;
	height: 200px;


}
#tema{
	float: right;
	font-weight: bold;
}
section{
	width: 50%;
	margin: 5% 0% 10% 25%;
	
}
aside{
	width: 20%;
	float: left;

}

#top{
	width: 100%;
	text-align: center;
}



.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

/*botón up*/
.boton-subir{
  display: none;
  background: #00974B;
  border: thin solid #fff;
  border-radius: 3px;
  position: fixed;
  right: 15px;
  bottom:2px;
  z-index: 999999999;
}
/*evento hover*/
.boton-subir:hover{
  box-shadow:   0px 2px 10px 0px rgba(255, 255, 255, 0.75);
}
/*estilos para el tag i*/
.boton-subir i{
  color: #000;
  font-size: 1.5em;
  padding: 10px 10px 10px 7px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

footer{
	background-color: #848482;
	color: #fff;
	width: 100%
}

footer>div#datos{
	
	width: 50%;
}

footer>div#volver{
	float: right;
	width: 50%;
	margin-top: 2%
}